.App {
  text-align: center;
  width: 60%;
  margin: 14% auto;
}

.logo {
  justify-content: center;
  width: 30%;
}

.navbar-header {
  margin: 0 auto;
}

.button {
  background: #00AEFF;
}

.sub-table {
  justify-content: space-around;
  display: flex;
}

