.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.Modal {
  background: white;
  width: 70%;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: relative;
  padding: 5%;
  outline: none;
} 

.Overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  justify-content: center;
  width: 50%;
}

.navbar-header {
  margin: 0 auto;
}

.button {
  border: 1px #00AEFF solid ;
  background: white;
  outline: none;
}

button:hover {
  background-color: #00AEFF;
  border: none;
}

button:focus {
  background-color: #00AEFF;
  border: none;
  outline: none;
}
/* 
.sub-table {
  justify-content: space-around;
  display: flex;
} */

@media only screen and (max-width: 600px) {

    .App {
      text-align: center;
      width: 95%;
      margin: 0 auto;
    }
}
